<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <style>
    body {
      background: #fafafa;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 40px auto 0;
      background: white;
      max-width: 60%;
      border-radius: 10px;
    }
  </style>
  <title>Invalid User</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>

<body>
  <div id="app">
    <div class="wrapper z-depth-1">
      <div class="text">
        <h2 style="text-align: center">"{{q}}"は不正な番号です</h2>
      </div>

      <div style="margin: 100px auto">
        <a class="btn-large" href="/login">戻る({{n}})</a>
      </div>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      n: 3
    },
    computed: {
      q: function () {
        return location.search.match(/\d{8}/)[0]
      }
    },
    methods: {
      countDown() {
        setInterval(() => {
          if (this.n <= 1) {
            location.href = '/login'
          } else {
            this.n--
          }
        }, 1000)
      }
    }
  })
  window.onload = app.countDown
</script>

</html>