<form name="num" action="/user" method="get">
  <input type="text" name="num" v-model="num" autofocus>
</form>

<script>
  const app = new Vue({
    el: '#app',
    data: {
      num: ''
    },
    computed: {
      valid() {
        return !/^\d{8}$/.test(this.num)
      }
    }
  })
</script>

</html>